{% extends "@ChaosCompanyParse/base.html.twig" %}
{% block content %}
    {% if list_items is defined %}
        {% if list_items|length > 0 %}
            {% for item in list_items %}
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{ item.name }}
                        </p>
                        <a href="#" class="card-header-icon" aria-label="more options">
                          <span class="icon">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </span>
                        </a>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{ item.content }}
                            <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">{{ item.link }}</a>
                            <br>
                            <time datetime="2016-1-1">{{ item.date }}</time>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">Save</a>
                        <a href="#" class="card-footer-item">Edit</a>
                        <a href="#" class="card-footer-item">Delete</a>
                    </footer>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}