<h1>Форма добавления рессурса</h1>
<hr>
<form action="">
    <label for="name">Название рессурса</label>
    <input id="name">
    <label for="tlist">Тип рессурса</label>
    <select name="tlist" id="tlist">
        <option value="1">Магазин</option>
        <option value="2">Блог</option>
    </select>
    <button>Добавить!</button>
</form>